<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/login_signup.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css"
      integrity="sha512-x8eU2Yx8Pd8XjWOTv+S/2jXGe586o6Ow722EaqGwG+4hkWaW1ZSAIMYUAY5QDyMglc9fPT0E1kZRIBwsdggtqg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Kanban</title>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="{% static 'images/kanban.jpg' %}" alt="logo" class="image" />
      </div>
      <div class="ls">
        <div>
          <a
            href="{% url 'login' %}"
            class="button button-royal button-pill button-giant"
            >Login</a
          >
          <p style="margin: 20px">OR</p>
          <a
            href="{% url 'signup' %}"
            class="button button-royal button-pill button-giant"
            >Register</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
