<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Muhamad Nauval Azhar" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="This is a login page template based on Bootstrap 5"
    />
    <title>Register</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
  </head>

  <body style="background: #4c98ff">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
          <div
            class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9"
            style="margin-bottom: 50px"
          >
            <div class="text-center my-5">
              <img
                src="{% static 'images/kanban.jpg' %}"
                style="width: 300px; height: 200px; border-radius: 10px"
                alt="logo"
              />
            </div>
            <div class="card shadow-lg">
              <div class="card-body p-5">
                <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
                <form
                  method="POST"
                  class="needs-validation"
                  novalidate=""
                  enctype="multipart/form-data"
                  autocomplete="off"
                  action=""
                >
                  {% csrf_token %}

                  <div class="mb-3">
                    <label class="mb-2 text-muted" for="fullname"
                      >Full Name</label
                    >
                    {{form.fullname}}
                    <div class="invalid-feedback">Fullname is required</div>
                  </div>

                  <div class="mb-3">
                    <label class="mb-2 text-muted" for="name">Username</label>
                    {{form.username}}
                    <div class="invalid-feedback">Username is required</div>
                  </div>

                  <div class="mb-3">
                    <label class="mb-2 text-muted" for="email"
                      >E-Mail Address</label
                    >
                    {{form.email}}
                    <div class="invalid-feedback">Email is invalid</div>
                  </div>
                  <div class="mb-3">
                    <label class="mb-2 text-muted" for="password"
                      >Password</label
                    >
                    {{form.password1}}
                    <div class="invalid-feedback">Password is required</div>
                  </div>

                  <div class="mb-3">
                    <label class="mb-2 text-muted" for="password"
                      >Re-enter Password</label
                    >
                    {{form.password2}}
                    <div class="invalid-feedback">Password is required</div>
                  </div>

                  <p class="form-text text-muted mb-3">
                    By registering you agree with our terms and condition.
                  </p>

                  {{form.errors}}
                  <div class="align-items-center d-flex">
                    <button type="submit" class="btn btn-primary ms-auto">
                      Register
                    </button>
                  </div>
                </form>
              </div>
              <div class="card-footer py-3 border-0">
                <div class="text-center">
                  Already have an account?
                  <a href="{% url 'login' %}" class="text-dark">Login</a>
                </div>
              </div>
            </div>
            {% comment %}
            <div class="text-center mt-5 text-muted">
              Copyright &copy; 2017-2021 &mdash; Your Company
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
