{% extends 'main.html' %} {% load static %} {% block content %}

<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<link rel="stylesheet" href="{% static 'styles/card.css' %}" />

<link rel="stylesheet" href="{% static 'styles/board_details.css' %}" />

<button
  class="kc_fab_main_btn"
  data-toggle="modal"
  data-target="#exampleModalCenter"
>
  +
</button>

<div class="content" style="margin: 10px; width: 100%">
  <!-- Page Content  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span></span>
      </button>
      <button
        class="btn btn-dark d-inline-block d-lg-none ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-align-justify"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Hello, {{user}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="col_container">
    <ol class="kanban To-do">
      <h2><i class="material-icons">report_problem</i> To do</h2>
      {% for card in cards %} {% if card.status == "to do" %}
      <div>
        <div class="card_container kanbancard card-3">
          <div>
            <h3>{{card.title}}</h3>
            <p>{{card.content}}</p>
          </div>
          <div class="card_icons">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash"></i>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </ol>
    <ol class="kanban progress">
      <h2><i class="material-icons">build</i> In progress</h2>
    </ol>
    <ol class="kanban Done">
      <h2><i class="material-icons">check_circle</i> Done</h2>
    </ol>
    <ol class="kanban Gone">
      <h2><i class="material-icons">delete</i> Gone</h2>
    </ol>
  </div>

  {% comment %} Card {% endcomment %} {% comment %}
  <div class="col_container">
    <div class="backlog_col"></div>
    <div class="requested_col"></div>
    <div class="inprogress_col"></div>
    <div class="done_col"></div>
  </div>
  {% endcomment %}

  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add a Card</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="POST">
            {% csrf_token %} {{form}}
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Done</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
