{% extends 'main.html' %} {% load static %} {% block content %}

<link
  href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900"
  rel="stylesheet"
/>

<link rel="stylesheet" href="{% static 'styles/card.css' %}" />

<div class="content" style="margin: 10px; width: 100%">
  <!-- Page Content  -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span></span>
      </button>
      <button
        class="btn btn-dark d-inline-block d-lg-none ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-align-justify"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Hello, {{user}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% comment %} Card {% endcomment %}

  <div class="container">
    <div class="row">
      {% for board in boards %}
      <a class="col-md-4" href="{% url 'board' board.id %}">
        <div>
          <div class="card card-1">
            <h3>{{board.title}}</h3>
            <p>{{board.content}}</p>
          </div>
        </div>
      </a>
      {% endfor %}

      <div class="col-md-4">
        <div
          style="justify-content: center; align-items: center"
          class="card card-2"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z" />
          </svg>
          <p style="margin-bottom: 0px; margin-top: 1em">Add a new board</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Add a Kanban Board
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'home' %}" method="POST">
          {% csrf_token %} {{form}}
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Done</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
