.col_container {
  display: flex;
  flex-wrap: wrap;
}

.kc_fab_main_btn {
  background-color: #f44336;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #f44336;
  border: none;
  z-index: 9999;
  outline: none;
  color: #fff;
  font-size: 36px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.kc_fab_main_btn:focus {
  transform: scale(1.1);
  transform: rotate(45deg);
  outline: none;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

ol {
  transition: border-color 2s ease, all 0.1s ease;
}

ol.list.To-do {
  border-left: 2px solid #ffb300;
}

ol.list.Gone {
  border-left: 2px solid #ff3d00;
}

ol.list.progress {
  border-left: 2px solid #29b6f6;
}

ol.list.Done {
  border-left: 2px solid #8bc34a;
}

ol.kanban.To-do {
  border-top: 5px solid #ffb300;
}

ol.kanban.Gone {
  border-top: 5px solid #ff3d00;
}

ol.kanban.progress {
  border-top: 5px solid #29b6f6;
}

ol.kanban.Done {
  border-top: 5px solid #8bc34a;
}

ol.kanban {
  border-top: 5px solid #78909c;
  width: 20%;
  height: auto;
  margin: 1%;
  max-width: 500px;
  flex: 1;
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  flex-direction: column;
  min-height: 200px;
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 1em;
  border-radius: 2px;
}

label {
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
  margin-bottom: 0 !important;
  margin-top: 0.5em;
}
